* {
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color:#1F2039;
}

a {
    color: #242424;
    text-decoration: none;
}

em {
    color: #A5B4FC;
    font-style: normal;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #F9F8FF;
}

p, 
li {
    font-size: 1.1em;
    color: #f9f8ff;
}

header, 
footer {
    background-color: white;
    padding: 20px 50px;
}


.cta {
    background: linear-gradient(#8E86B5,#ACAEED);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
}

a:hover {
    text-decoration: underline;
}

.cta:hover {
    background: linear-gradient(#696484, #8788BA);
    text-decoration: none;
}

.lien-icone:hover {
    opacity: 0.5;
}

.carre-contenu {
    border-right: 1px #8e86b5 solid;
    border-bottom: 1px #8e86b5 solid;
    padding: 50px;
}

.carre-contenu h2 {
    margin-top: 30px;
}

.carre-contenu ul {
    margin-top: 30px;
}

section {
    padding: 80px;
}

.a-propos-main {
    width: 50%;
    margin: auto;
}

/* Modifications à partir d'ici */

/* Positionnement élément de l'en-tête */

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.liens-nav a {
    padding-left: 100px;
}

/* Positionnement première section de l'accueil */

.conteneur-accueil {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10%;
}


.texte-accueil {
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.texte-accueil div {
    padding-bottom: 50px;
}

/* Positionnement élément deuxième section de l'accueil */

.dernier-projet {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dernier-projet h2 {
    color: #242424;
}

.dernier-projet div {
    padding-bottom: 50px;
}

.grille-images {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
}